name: CI

# workflow triggers
on:
  # manually
  workflow_dispatch:
  # PRs on `main`
  pull_request:
    branches: [main]
  # nightly
  schedule:
  - cron: "0 2 * * *"

jobs:
  verify:
    name: Verify build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.1

    - name: Setup Java and Maven cache
      uses: actions/setup-java@v5.1.0
      with:
        distribution: 'temurin'
        java-version: '17'
        check-latest: true
        cache: 'maven'

    - name: Verify build
      run: >
        ./mvnw clean verify
        --batch-mode
        --update-snapshots
        --no-transfer-progress

  deploy-snapshot:
    name: Deploy snapshot
    runs-on: ubuntu-latest
    needs: [verify]
    if: github.ref == 'refs/heads/main' && github.repository_owner == 'vitruv-tools'
    strategy:
      fail-fast: true

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.1

    - name: Setup Java and Maven cache
      uses: actions/setup-java@v5.1.0
      with:
        distribution: 'temurin'
        java-version: '17'
        check-latest: true
        cache: 'maven'
        server-id: central
        server-username: CENTRAL_USERNAME
        server-password: CENTRAL_PASSWORD
        gpg-private-key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Deploy snapshot
      run: >
        ./mvnw clean deploy -P snapshot
        --batch-mode
        --update-snapshots
        --no-transfer-progress
      env:
        CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
        CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
